<div class="container-fluid page">
 <div class="page__box p-5 mt-0">
<h5>Hello Anna,</h5>
 <p>Welcome to your new avenue of engaging your audience.</p>

 </div>
 <div >
    <div class = "insights">
        <div class="impressions">
            <span class="circle">
                <i class="bi bi-bar-chart"></i>
              </span>
                <div class="middle">
                    <div class="left">
                        <h3>Impressions</h3>
                        <h1>123,900</h1>
                        <i class="bi bi-caret-down-fill danger"></i>
                        <small class="text-muted"> last 24 hours</small>
                    </div>
                </div>
         </div>
         <!--         END OF IMPRESSIONS -->

         <div class="CPM">
            <span class="circle">
                <i class="bi bi-bar-chart"></i>
              </span>
            <div class="middle">
                <div class="left">
                    <h3>CPM</h3>
                    <h1>123,900</h1>
                    <i class="bi bi-caret-up-fill success"></i>
                    <small class="text-muted"> last 24 hours</small>
                </div>
            </div>
     </div>
     <!--         END OF CPM -->
     <div class="clicks">
        <span class="circle">
            <i class="bi bi-bar-chart"></i>
          </span>
        <div class="middle">
            <div class="left">
                <h3>Clicks</h3>
                <h1>123,900</h1>
                <i class="bi bi-caret-down-fill danger"></i>
                <small class="text-muted"> last 24 hours</small>
            </div>
        </div>
 </div>
 <!--         END OF clicks -->
 <div class="conversions">
    <span class="circle">
        <i class="bi bi-bar-chart"></i>
      </span>
    <div class="middle">
        <div class="left">
            <h3>Conversions</h3>
            <h1>123,900</h1>
            <i class="bi bi-caret-up-fill success"></i>
            <small class="text-muted"> last 24 hours</small>
        </div>
    </div>
</div>
<!--         END OF Conversions -->
<div class="spend">
    <span class="circle">
        <i class="bi bi-bar-chart"></i>
      </span>
    <div class="middle">
        <div class="left">
            <h3>Spend</h3>
            <h1>123,900</h1>
            <i class="bi bi-caret-down-fill danger"></i>
            <small class="text-muted"> last 24 hours</small>
        </div>
    </div>
</div>
<!--         END OF IMPRESSIONS -->




<!-- <div class="spend">
    <span class="circle">
        <i class="bi bi-bar-chart"></i>
      </span>
    <div class="middle">
        <div class="left">
            <h3>Spend</h3>
            <h1>123,900</h1>
        </div>
        <div class="bottom">
            <i class="bi bi-caret-down-fill danger"></i>
            <small class="text-muted"> last 24 hours</small>
        </div>
    </div>
</div> -->
<!--         END OF IMPRESSIONS -->
    </div>


<!--                      CAMPAIGNS                     -->

<div class="campaigns"> 
    <h2>Campaigns</h2>
    <table>
        <thead>
            <tr>
                <th>Campaign Id</th>
                <th>Campaign Name</th>
                <th>Impressions</th>
                <th>Reach</th>
                <th>Clicks</th>
                <th>CTR</th>
                <th>Conversion</th>
                <th>CPM</th>
                <th>CPC</th>
                <th>CPA</th>
                <th>Spend</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12-222-3334</td>
                <td>BOA_Mali_activate</td>
                <td>1,899,124</td>
                <td>2,463,345</td>
                <td>8,893</td>
                <td>12,2%</td>
                <td>63%</td>
                <td>$0.32</td>
                <td>$0.7</td>
                <td>$0.7</td>
                <td>$150</td>
            </tr>

            <tr>
                <td>12-222-3334</td>
                <td>BOA_Mali_activate</td>
                <td>1,899,124</td>
                <td>2,463,345</td>
                <td>8,893</td>
                <td>12,2%</td>
                <td>63%</td>
                <td>$0.32</td>
                <td>$0.7</td>
                <td>$0.7</td>
                <td>$150</td>
            </tr>


            <tr>
                <td>12-222-3334</td>
                <td>BOA_Mali_activate</td>
                <td>1,899,124</td>
                <td>2,463,345</td>
                <td>8,893</td>
                <td>12,2%</td>
                <td>63%</td>
                <td>$0.32</td>
                <td>$0.7</td>
                <td>$0.7</td>
                <td>$150</td>
            </tr>

            <tr>
                <td>12-222-3334</td>
                <td>BOA_Mali_activate</td>
                <td>1,899,124</td>
                <td>2,463,345</td>
                <td>8,893</td>
                <td>12,2%</td>
                <td>63%</td>
                <td>$0.32</td>
                <td>$0.7</td>
                <td>$0.7</td>
                <td>$150</td>
            </tr>

            <tr>
                <td>12-222-3334</td>
                <td>BOA_Mali_activate</td>
                <td>1,899,124</td>
                <td>2,463,345</td>
                <td>8,893</td>
                <td>12,2%</td>
                <td>63%</td>
                <td>$0.32</td>
                <td>$0.7</td>
                <td>$0.7</td>
                <td>$150</td>
            </tr>
        </tbody>
    </table>
    <a href="#" >Show all</a>
</div>




    
 </div>
</div>
